/* ==========================================================================
Grid Overlay Styles
Author: Steve Hickey | http://stevehickeydesign.com
Company: Fresh Tilled Soil | http://freshtilledsoil.com
========================================================================== */

@mixin gridOverlay ($page: 940px, $column: 60px, $gutter: 20px, $baseline: 24px) {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  width: $page;
  margin: 0 auto;
  background-size: ($column + $gutter) $baseline;
  background-image:
    -webkit-linear-gradient(left, rgba(#f00, 0.25) 0, rgba(#f00, 0.25) $column, transparent $column),
    -webkit-linear-gradient(top, transparent ($baseline - 1), rgba(#f00, 0.5) $baseline);
  background-image:
       -moz-linear-gradient(left, rgba(#f00, 0.25) 0, rgba(#f00, 0.25) $column, transparent $column),
       -moz-linear-gradient(top, transparent ($baseline - 1), rgba(#f00, 0.5) $baseline);
  background-image:
        -ms-linear-gradient(left, rgba(#f00, 0.25) 0, rgba(#f00, 0.25) $column, transparent $column),
        -ms-linear-gradient(top, transparent ($baseline - 1), rgba(#f00, 0.5) $baseline);
  background-image:
         -o-linear-gradient(left, rgba(#f00, 0.25) 0, rgba(#f00, 0.25) $column, transparent $column),
         -o-linear-gradient(top, transparent ($baseline - 1), rgba(#f00, 0.5) $baseline);
  background-image:
            linear-gradient(left, rgba(#f00, 0.25) 0, rgba(#f00, 0.25) $column, transparent $column),
            linear-gradient(top, transparent ($baseline - 1), rgba(#f00, 0.5) $baseline);
}

div#gridOverlay {
  @include gridOverlay();
}

body { // necessary to fix scrolling problem
  position: relative;
  height: auto;
  min-height:100%;
}