/* ==========================================================================
Grid Styles
========================================================================== */
@mixin cssGridOverlay ($pageWidth: 940px, $columnWidth: 60px, $gutterWidth: 20px, $baselineHeight: 24px) {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;

  &::before {
    content: "";
    display: block;
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: $pageWidth;
    background-image:
      -webkit-linear-gradient(left,
      rgba(#f00, 0.25) 0,
      rgba(#f00, 0.25) $columnWidth,
      transparent $columnWidth),
      -webkit-linear-gradient(top,
      transparent ($baselineHeight - 1),
      rgba(#f00, 0.5) $baselineHeight);
    background-size: ($columnWidth + $gutterWidth) $baselineHeight;
  }
}

div#cssGridOverlay {
  @include cssGridOverlay();
}