// Variables ============================================================== /

$black:                       #000;
$grayDarkest:                 #111;
$grayDarker:                  #222;
$grayDark:                    #333;
$gray:                        #555;
$grayLight:                   #999;
$grayLighter:                 #eee;
$grayLightest:                #f5f5f5;
$white:                       #fff;
$red:                         #a60303;

// Typography
$baseFontSize:                16px;
$lineHeight:                  24px;
$baseColor:                   $grayDark;
$headerFontFamily:            "ff-meta-web-pro", Helvetica, Arial, sans-serif;
$textFontFamily:              "museo-sans", Helvetica, Arial, sans-serif;
$codeFontFamily:              Menlo, Monaco, "Courier New", monospace;
$linkColor:                   $red;
$linkColorHover:              darken($linkColor, 15%);

// 12 column 940px grid using Bourbon's flexible grid function ==============
$fg-column:                   60px;
$fg-gutter:                   20px;
$fg-max-columns:              12;

/* ==========================================================================
Reset Styles
========================================================================== */
html, body { margin: 0; padding: 0; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
a:focus { outline: thin dotted $grayDark; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
a:hover, a:active { outline: 0; }
img { max-width: 100%; height: auto; border: 0; -ms-interpolation-mode: bicubic; }
button, input, select, textarea { margin: 0; font-size: 100%; vertical-align: middle; }
button, input { *overflow: visible; line-height: normal; }
button::-moz-focus-inner, input::-moz-focus-inner { padding: 0; border: 0; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
textarea { overflow: auto; vertical-align: top; }

/* ==========================================================================
Typography Styles
========================================================================== */
body { font-family: $textFontFamily; }
p { margin: 0 0 $lineHeight 0; font-size: $baseFontSize; line-height: $lineHeight; }
h1, h2, h3, h4, h5, h6 { margin: 0; font-weight: bold; color: $baseColor; text-rendering: optimizelegibility; font-family: $headerFontFamily; }
h1 { font-size: 36px; line-height: $lineHeight * 2; }
h2 { font-size: 18px; line-height: $lineHeight; }
h3 { line-height: $lineHeight; font-size: 18px; }
h4, h5, h6 { line-height: $lineHeight; }
h4 { font-size: 14px; }
h5 { font-size: 12px; }
h6 { font-size: 11px; color: lighten($baseColor, 10%); text-transform: uppercase; }
ul, ol { padding: 0; margin: 0 0 $lineHeight/2 0; }
ul ul, ul ol, ol ol, ol ul { margin-bottom: 0; }
ul { list-style: disc; }
ol { list-style: decimal; }
li { line-height: $lineHeight; }
strong { font-weight: bold; }
em { font-style: italic; }
abbr { font-size: 90%; text-transform: uppercase; }

// Code Styles ============================================================ /
code, pre {
  background-color: $grayLightest;
  border: 1px solid $grayLight;
  @include border-radius(3px);
  color: $grayLight;
  display: block;
  font-family: $codeFontFamily;
  font-size: 12px;
  line-height: $lineHeight;
  margin: 0;
  padding: 1px 6px;
}

code {
  @include inline-block;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;

  &.prettyprint {
    margin-bottom: $lineHeight;
  }

  code {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border: 0;
  }
}

/* ==========================================================================
Demo Styles
========================================================================== */
html, body {
  height: 100%;
  padding: 0;
}
header {
  background-color: $red;
  @include background-image(linear-gradient(top, darken($red, 18%) 0%, $red 70%, darken($red, 4%)));
  color: $white;
  min-height: 198px;
  text-shadow: 0px 1px 4px rgba($black, 0.36);

  .center {
    background: url("../images/grid-bg.png") no-repeat center top;
    background-size: 100% 200px;
    padding: 39px 0 24px 0;
  }
  p {
    width: 100%;
    max-width: 620px;
  }
}
.center {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  padding-top: 31px;
}
section {
  width: 100%;
  max-width: 620px;
  padding-bottom: 36px;
}
h1 {
  color: $white;
  margin-bottom: 16px;
}
p {
  margin-bottom: 24px;
}
pre {
  margin-bottom: 21px;
}
p + pre {
  margin-top: -25px;
}
strong {
  color: $red;
}
a {
  color: $red;
  &:hover {
    color: darken($red, 10%);
  }
}
p a, ol a, ul a {
  font-weight: bold;
  text-decoration: none;
}
footer {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-top: 4px;
  padding: 9px 0;
  text-align: center;
}
footer div.center {
  padding: 0;
}
footer p {
  font-size: 12px;
  margin-bottom: 8px;
}
footer a {
  text-decoration: none;
}