/* ==========================================================================
Reset Styles
========================================================================== */
html, body {
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted #333333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

a:hover, a:active {
  outline: 0; }

img {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic; }

button, input, select, textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle; }

button, input {
  *overflow: visible;
  line-height: normal; }

button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

textarea {
  overflow: auto;
  vertical-align: top; }

/* ==========================================================================
Typography Styles
========================================================================== */
body {
  font-family: "museo-sans", Helvetica, Arial, sans-serif; }

p {
  margin: 0 0 24px 0;
  font-size: 16px;
  line-height: 24px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
  color: #333333;
  text-rendering: optimizelegibility;
  font-family: "ff-meta-web-pro", Helvetica, Arial, sans-serif; }

h1 {
  font-size: 36px;
  line-height: 48px; }

h2 {
  font-size: 18px;
  line-height: 24px; }

h3 {
  line-height: 24px;
  font-size: 18px; }

h4, h5, h6 {
  line-height: 24px; }

h4 {
  font-size: 14px; }

h5 {
  font-size: 12px; }

h6 {
  font-size: 11px;
  color: #4d4d4d;
  text-transform: uppercase; }

ul, ol {
  padding: 0;
  margin: 0 0 12px 0; }

ul ul, ul ol, ol ol, ol ul {
  margin-bottom: 0; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li {
  line-height: 24px; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

abbr {
  font-size: 90%;
  text-transform: uppercase; }

code, pre {
  background-color: #f5f5f5;
  border: 1px solid #999999;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #999999;
  display: block;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 12px;
  line-height: 24px;
  margin: 0;
  padding: 1px 6px; }

code {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word; }
  pre.prettyprint {
    margin-bottom: 24px; }
  pre code {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border: 0; }

/* ==========================================================================
Demo Styles
========================================================================== */
html, body {
  height: 100%;
  padding: 0; }

header {
  background-color: #a60303;
  background-image: -webkit-linear-gradient(top, #4c0101 0%, #a60303 70%, #920303);
  background-image: -moz-linear-gradient(top, #4c0101 0%, #a60303 70%, #920303);
  background-image: -ms-linear-gradient(top, #4c0101 0%, #a60303 70%, #920303);
  background-image: -o-linear-gradient(top, #4c0101 0%, #a60303 70%, #920303);
  background-image: linear-gradient(top, #4c0101 0%, #a60303 70%, #920303);
  color: white;
  height: 216px;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.36); }
  header .center {
    background: url("../images/grid-bg.png") no-repeat;
    padding-top: 39px; }
  header p {
    width: 620px; }

.center {
  width: 940px;
  margin: 0 auto;
  padding-top: 31px; }

section {
  width: 620px;
  padding-bottom: 36px; }

h1 {
  color: white;
  margin-bottom: 16px; }

p {
  margin-bottom: 24px; }

pre {
  margin-bottom: 21px; }

p + pre {
  margin-top: -25px; }

strong {
  color: #a60303; }

a {
  color: #a60303; }
  a:hover {
    color: #740202; }

p a, ol a, ul a {
  font-weight: bold;
  text-decoration: none; }

footer {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-top: 16px;
  padding: 9px 0;
  text-align: center; }

footer div.center {
  padding: 0; }

footer p {
  font-size: 12px;
  margin-bottom: 8px; }

footer a {
  text-decoration: none; }
