/* ==========================================================================
Reset Styles
========================================================================== */
html, body {
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted #333333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

a:hover, a:active {
  outline: 0; }

img {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic; }

button, input, select, textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle; }

button, input {
  *overflow: visible;
  line-height: normal; }

button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

textarea {
  overflow: auto;
  vertical-align: top; }

/* ==========================================================================
Typography Styles
========================================================================== */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

p {
  margin: 0 0 24px 0;
  font-size: 13px;
  line-height: 24px; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
  color: black;
  text-rendering: optimizelegibility; }

h1 {
  font-size: 30px;
  line-height: 48px; }

h2 {
  font-size: 24px;
  line-height: 48px; }

h3 {
  line-height: 24px;
  font-size: 18px; }

h4, h5, h6 {
  line-height: 24px; }

h4 {
  font-size: 14px; }

h5 {
  font-size: 12px; }

h6 {
  font-size: 11px;
  color: #1a1a1a;
  text-transform: uppercase; }

ul, ol {
  padding: 0;
  margin: 0 0 12px 0; }

ul ul, ul ol, ol ol, ol ul {
  margin-bottom: 0; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li {
  line-height: 24px; }

dl {
  margin-bottom: 24px; }

dt, dd {
  line-height: 24px; }

dt {
  font-weight: bold; }

dd {
  margin-left: 12px; }

hr {
  margin: 24px 0;
  border: 0;
  border-top: 1px solid #555555;
  border-bottom: 1px solid white; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

abbr {
  font-size: 90%;
  text-transform: uppercase; }

code, pre {
  background-color: #f5f5f5;
  border: 1px solid #999999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #9d261d;
  display: block;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 12px;
  line-height: 24px;
  margin: 0;
  padding: 1px 6px; }

code {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word; }
  pre.prettyprint {
    margin-bottom: 24px; }
  pre code {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border: 0; }

/* ==========================================================================
Demo Styles
========================================================================== */
html, body {
  height: 100%;
  padding: 0; }

.center {
  width: 940px;
  margin: 0 auto;
  padding: 37px 0 60px 0; }

h1 {
  margin-bottom: -5px; }

p {
  margin-bottom: 21px; }

h3 {
  margin-bottom: 1px; }

li {
  margin-bottom: 20px; }

p a, ol a, ul a {
  color: #0064cd;
  font-weight: bold;
  text-decoration: none; }

p a:hover, ol a:hover, ul a:hover {
  color: #0058b3; }

footer {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #333333;
  margin-top: 29px;
  padding: 9px 0;
  text-align: center; }

footer div.center {
  padding: 0; }

footer p {
  font-size: 12px;
  margin-bottom: 8px; }

footer a {
  color: #0064cd;
  font-weight: bold;
  text-decoration: none; }

footer a:hover {
  color: #0058b3; }

/* ==========================================================================
Grid Overlay Styles
Author: Steve Hickey | http://stevehickeydesign.com
Company: Fresh Tilled Soil | http://freshtilledsoil.com
========================================================================== */
div#gridOverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 940px;
  margin: 0 auto;
  background-size: 80px 24px;
  background-image: -webkit-linear-gradient(left, rgba(255, 0, 0, 0.25) 0, rgba(255, 0, 0, 0.25) 60px, transparent 60px), -moz-linear-gradient(left, rgba(255, 0, 0, 0.25) 0, rgba(255, 0, 0, 0.25) 60px, transparent 60px), -ms-linear-gradient(left, rgba(255, 0, 0, 0.25) 0, rgba(255, 0, 0, 0.25) 60px, transparent 60px), -o-linear-gradient(left, rgba(255, 0, 0, 0.25) 0, rgba(255, 0, 0, 0.25) 60px, transparent 60px), linear, left, rgba(255, 0, 0, 0.25) 0, rgba(255, 0, 0, 0.25) 60px, transparent 60px, -webkit-linear-gradient(top, transparent 23px, rgba(255, 0, 0, 0.5) 24px), -moz-linear-gradient(top, transparent 23px, rgba(255, 0, 0, 0.5) 24px), -ms-linear-gradient(top, transparent 23px, rgba(255, 0, 0, 0.5) 24px), -o-linear-gradient(top, transparent 23px, rgba(255, 0, 0, 0.5) 24px), linear, top, transparent 23px, rgba(255, 0, 0, 0.5) 24px; }

body {
  position: relative;
  height: auto;
  min-height: 100%; }
